@page "/"

<PageTitle>ToDoList</PageTitle>

<h1>Hello, world!</h1>

<button class="favorite styled" type="button">Edit</button>
<button class="favorite styled" type="button">Delete</button>

<div>
    <input type="checkbox" id="scales" name="scales" checked />
    <label for="scales">Scales</label>
</div>

<label for="fuel">Fuel level:</label>
<meter id="fuel" min="0" max="100" low="33" high="66" optimum="80" value="50">at 50/100</meter>
